// 通过 vite.config.js 全局注入到每个组件
// 主题色， 可以在其他vue文件直接使用的
$mainColor: var(--main-primary-color, #009688);
$mainSecondaryColor: var(--main-secondary-color, #0096881f);

// 响应式布局       
// 定义一个名为 changeWidth 的 mixin，带默认参数 $padding
//并根据屏幕尺寸动态调整页面的左右内边距（Padding），从而适配不同设备。
@mixin changeWidth($padding:10vw) {
    .n-layout-header {
        padding: 0 $padding;
    }

    .n-layout-content {
        .main {
            padding: 24px $padding 54px $padding;

            .player {
                padding: 0 $padding;
            }
        }
    }
}

@include changeWidth;

/* 小于1200px时 */
// 实现“移动端/小屏适配”
@media (max-width: 1200px) {
    @include changeWidth($padding:5vw);
}

/* 小于768px时 (移动端) */
@media (max-width: 768px) {
    @include changeWidth($padding: 16px);
    
    // 隐藏滚动条但保留功能
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}